.container-list-characters {
    display: flex;
    width: 100%;
    height: 100%;
    background: #000;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

th {
    color: #fff;
    font-weight: bold;
    padding: 15px 20px;
    text-align:center;
    border-bottom: 1px solid #999;
}