.header {
    display: flex;
    width: 100%;
    font-size: 100px;
    color: white;
    background: #000;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid #999;
}