.List-movies {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    list-style: none;
}

.item-movie {
    width: 25%;
    padding: 10px;
    color: #fff;
}

.crawl-text {
    color: #feda4a;  
    width: 100%;
    height: 200px; 
    display: flex;
    justify-content:center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #171515;
    overflow: hidden;
    position: relative;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    perspective: 600px;
    text-align: justify;
}

.crawl-text__box {
    position: relative;
    top: 200px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
}

.crawl-text__box .crawl-title {
  font-size: 90%;
  text-align: center;
}

.crawl-text__box .crawl-text-paragraph {
  margin: 0 0 100px;
  text-transform: uppercase;
}

.content__info-movie {
    display: block;
    width: 100%;
    text-align: left;
    background-color: #282727;
    padding: 10px;
}

.info-movie__title, .info-movie__director, .info-movie__producer, .info-movie__release-date {
    display:block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5em;
    margin: 0;
}

@keyframes crawl {
    0% {
    top: 0px;
    transform: rotateX(20deg)  translateZ(0);
  }
    100% { 
    top: -2000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}