.Movies__List {
    display: flex;
    width: 100%;
    background: #000;
}

.Title-section {
    color: #fff;
}

.moviesList__container {
    display: block;
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
